@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: black;
  margin-inline: 28px;
}

.custom-shadow:hover {
  box-shadow: 0 20px 50px #ee7600;
}

.bg-img {
  background-image: url('../public/wireframe.png');
  background-repeat: no-repeat;
  background-position: start;
  background-size: 65%, 100%;
}

.bulb-on{
  opacity: 0;
  animation: glow 3s linear infinite;
}
@keyframes glow {
  0%{
    opacity: 1;
  }
  5%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  74%{
    opacity: 0;
  }
  80%{
    opacity: 1;
  }
  84%{
    opacity: 0;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}
